<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_txt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{198,48}</string>
                <key>spriteSourceSize</key>
                <string>{240,48}</string>
                <key>textureRect</key>
                <string>{{679,1},{198,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_txt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{208,48}</string>
                <key>spriteSourceSize</key>
                <string>{240,48}</string>
                <key>textureRect</key>
                <string>{{469,1},{208,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_txt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{224,48}</string>
                <key>spriteSourceSize</key>
                <string>{240,48}</string>
                <key>textureRect</key>
                <string>{{243,1},{224,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_txt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,48}</string>
                <key>spriteSourceSize</key>
                <string>{240,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>loading_text.png</string>
            <key>size</key>
            <string>{878,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de935175ab44cb7e4bcc941220d75ffa:b203e050d1959c46bbea3e1a7011d850:bbf8b0db7e21a9c6bcde0db9021dcf15$</string>
            <key>textureFileName</key>
            <string>loading_text.png</string>
        </dict>
    </dict>
</plist>
